POSTGRES_DB=scrumboard_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

ConnectionStrings__ScrumBoardConnection=Host=postgres;Port=5432;Database=scrumboard_db;Username=postgres;Password=postgres

Jwt__JwtSettings__Secret=change-me-super-secret-key-min-32-chars
Jwt__JwtSettings__Issuer=ScrumBoardApi
Jwt__JwtSettings__Audience=ScrumBoardClient
Jwt__JwtSettings__ExpirationMinutes=60

Security__Pepper=change-me-in-production

API_PORT=5001
PROD_WEB_PORT=80
API_URL=http://localhost:5001/api

Cors__AllowedOrigins=http://localhost:80
